.timeContainer {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 76px;
}

.buttonsContainer {
    width: 200px;
    margin: 0 auto;
}

.timer{
    width: 100px;
}

.hours::after,
.minutes::after,
.secons::after,
.milisecons::after {
    position: relative;
    bottom: 0px;
    right: 10px;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border-radius: 100%;
    padding: 4px 7px;
}
.hours::after {
    content: "H";
}
.minutes::after {
    content: "M";
}
.secons::after {
    content: "S";
}
